ACTION=="remove", GOTO="serial_mirror_end"
SUBSYSTEM!="tty", GOTO="serial_mirror_end"

KERNEL=="ttyUSB1", ENV{SYSTEMD_WANTS}+="socat@/dev/ttyUSB1.service"

LABEL="serial_mirror_end"
